.folderContents {
    position: absolute;
    padding: 0;
}

.folderContentsItems {
    position: relative;
    padding: 4px 10px;
    list-style-type: none;
}


.folderContentsItems:hover {
    filter: brightness(125%);
}