:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}

body, html {
  padding: 0px 10px;
  margin: 0px;
  min-width: 320px;
  min-height: 100vh;
}
