.Menu {
    display: flex;
    width: 100%;
    height: 50px;
    padding: 0;
    justify-content: start;
    flex-direction: row;
    position: relative;
}

.Menu-item {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    position: relative;
}

.Submenu-item {
    position: relative;
    top: 60px;
    right: 100%;
}
